.App {
  font-family: "Metal Mania";
  text-align: center;
  background: linear-gradient(to left, #304369, #051636);
  min-height: 100vh;
  color: rgb(212, 222, 230, 0.9);
  position: relative;
}

/* 20436d, 0b274b 3b79ac*/
/* #051636, #3b79ac */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#HomeContainer {
  background-image: url("./components/images/HeaderJuanTwo.jpeg");
  /* background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply; */
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  /* box-shadow: 0 5px 10px rgb(42, 41, 41); */
}

#Home {
  min-height: 50vh;
  width: 75vw;
  font-size: xx-large;
  border-radius: 0.5em;
  margin: auto;
  background-color: rgba(0, 0, 0, .5);
  padding: 10px 5vw 10px 5vw;
  position: relative;
}

#HomeParagraph span {
  background: linear-gradient(to right, #e9be31, #d48e0c);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

#AboutContainer {
  width: 100%;
  min-height: 100vh;
  /* box-shadow: 0 5px 10px rgb(42, 41, 41); */
}

#About {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  width: 85%;
  margin: auto;
  min-height: 100vh;
}

#About1 {
  min-height: 25vh;
  width: 65vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0.7em 0.7em 0;
  box-shadow: 5px 5px 15px 5px rgb(112, 166, 190, 0.5);
  padding: 4vh 2vw 2vh 4vw;
  /* margin-left: -35vw;
  margin-bottom: 5vh;
  margin-top: 5vh; */
  margin: 5vh 0 5vh -32vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: center;
  text-justify:distribute-all-lines;
}

#About1 li {
  background: linear-gradient(to right, #a0d0ec, #376ec0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: list-item;
  font-size: x-large;
  text-align: left;
}

ul{ text-align:center;}

li{ 
  display: inline-block;
  padding:15px;
}

#About2 {
  min-height: 50vh;
  width: 75vw;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 0.7em 0 0 0.7em;
  margin-right: -23vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-right: 3vw;
  /* padding-bottom: 1vh; */
  box-shadow: 5px 5px 15px 5px rgb(112, 166, 190, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.TechnicalSkills {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #a0d0ec, #376ec0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: x-large;
}

.TechnicalSkills li {
  line-height: 8px;
  margin: 0;
}

#Projects {
  min-height: 100vh;
  margin-bottom: 3vh;;
  /* background: linear-gradient(to left, #051636, #3b79ac); */
}

#Projects p {
  background: linear-gradient(to right, #a0d0ec, #376ec0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

#CarouselContainer {
  position: relative;
  border-radius: 0.91em;
  max-width: 50vw;
  height: 73vh;
  box-shadow: 5px 5px 15px 5px rgb(112, 166, 190, 0.6);
  margin: auto;
}

.CarouselLinks {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}

.SiteLinks button {
  position: absolute;
  bottom: 22px;
  right: 85px;
  z-index: 1000;
  /* color: white; */
  font-family: 'Metal Mania';
  font-size: 19px;
  background: linear-gradient(to right, #a0d0ec, #376ec0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  border-radius: 0.91em;
  box-shadow: 2px 2px 5px 2px rgb(112, 166, 190, 0.6);
}

.SiteLinks button:hover {
  font-size: 20px;
  bottom: 24px;
}

.Github {
  box-shadow: 2px 2px 5px 2px rgb(112, 166, 190, 0.6);
}

.Github:hover {
  bottom: 2px;
}

/* #SiteLinks a {
  background: linear-gradient(to right, #a0d0ec, #376ec0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
} */

.slide-button {
  background: linear-gradient(rgb(112, 166, 190, 0.6), rgba(130, 130, 130, .5));
  margin: 2px 2px 2px 2px;
}

.slide-button-in {
  color: white;
  /* background: linear-gradient(#444444, #222222);
  background-color: white; */
}

#Publications {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./components/images/Marina.jpeg");
  background-attachment: fixed;
  width: 100%;
  background-size: cover;
  background-position: center top;
  /* box-shadow: 0 5px 10px rgb(42, 41, 41); */
}

#Contact {
  min-height: 100vh;
  position: relative;
}

#ContactContainer {
  min-height: 50vh;
  width: 40vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.7em;
  box-shadow: 5px 5px 15px 5px rgb(112, 166, 190, 0.5);
  margin: auto;
  margin-top: 3vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 5vh 4vw 2vh 4vw;
  position: relative;
}

#ProfilePicture {
  background-image: url("./components/images/Profile2.jpeg");
  height: 12rem;
  width: 12rem;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px rgb(112, 166, 190, 0.5);
  /* margin-top: 5vh; */
  margin-bottom: 5vh;
}

#ContactText {
  font-size: 23px;
  background: linear-gradient(to right, #a0d0ec, #376ec0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  margin-top: 0.5vh;
  /* margin-bottom: 3vh; */
}

.ContactIcons {
  margin-top: 2vh;
}

#Footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

#Footer p {
  font-size: 25px;
}

.navbar {
  position: sticky !important;
  top: 0;
  display: flex !important;
  justify-content: flex-end !important;
  z-index: 9998;
}

:root {
  --pcol: rgb(2, 36, 75) !important;
  --scol: rgb(45, 138, 214) !important;
  --tspeed: 0s !important;
  --fgrad: rgba(0, 0, 0, .8) !important;
  --sgrad: rgb(0, 0, 0, 0.6) !important;
  --rm-font-size: 0.975rem !important;
  --sm-font-size: 0.8rem !important;
}

#Title {
  font-size: x-large;
  position: fixed;
  top: 0;
  left: 10px;
  /* color: rgb(45, 138, 214) !important; */
  font-weight: 200;
  z-index: 9999;
  opacity: 1;
}

.FontGradient {
  background: linear-gradient(to right, #a0d0ec, #376ec0);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.SocialMedia {
  position: absolute;
  bottom: 10vh;
  left: 0;
  right: 0;
  color: rgb(212, 222, 230, 0.9);
}

.ComponentTitle {
  color: rgb(212, 222, 230, 0.9);
  font-size: xx-large;
  display: inline-block
}

.PublicationsCardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 90%;
}

.PublicationsCard {
  min-width: 26%;
  height: 65vh;
  background-size: cover;
  background-position: center top;
  border-radius: 0.7em;
  opacity: 0.9;
  position: relative;
  display: flex;
  justify-content: center;
}

#Publications h2 {
  background: linear-gradient(to right, #e9be31, #d48e0c);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

#Carousel {
  background-image: url("./components/images/Carousel.jpeg");
}

#Recursion {
  background-image: url("./components/images/Recursion.jpeg");
}

#Hooks {
  background-image: url("./components/images/Hooks.jpeg");
}

/* a.overlay { 
  width: 100%; 
  height:100%; 
  position: absolute; 
} */

.LinkIcon {
  position: absolute;
  top: 15px;
  right: 0;
}

#_2iAdU {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
}

/*  ----------------------------------------------- MOBILE DEVICES ----------------------------------------------*/
@media only screen and (min-width: 320px) and (max-device-width: 480px) {

  .navbar {
    justify-content: center !important;
  }

  .ComponentTitle {
    margin-top: 10vh;
  }

  #HomeContainer {
    background-image: url("./components/images/Marina.jpeg");
  }

  #Home {
    font-size: 3.5vh;
    min-height: 60vh;
  }

  #Publications {
    background-image: url("./components/images/GG-Background.jpeg");
  }

  .PublicationsCardsContainer {
    flex-direction: column;
  }

  .PublicationsCard {
    min-width: 86%;
    margin-bottom: 20px;
  }

  #About1 {
    width: 85vw;
    margin-left: -15vw;
  }

  #About1 li {
    font-size: large;
  }

  #About2 {
    width: 85vw;
    margin-right: -15vw;
  }

  .TechnicalSkills {
    font-size: large;
  }

  .TechnicalSkills li {
    line-height: 16px;
    margin: 0;
  }

  #CarouselContainer {
    max-width: 90vw;
    margin-top: -3.5vh;
  }

  .SiteLinks button {
    left: 8px;
    bottom: 8px; 
  }

  .Github {
    box-shadow: none;
    bottom: -14px;
    right: -14px;
  }

  #ContactContainer {
    min-height: 50vh;
    width: 80vw;
    margin-top: 0;
  }

  #ProfilePicture {
    height: 8rem;
    width: 8rem;
    margin-bottom: 4vh;
  }

  #ContactText {
    font-size: 20px;
  }
}