.App {
  font-family: "Metal Mania";
  text-align: center;
  background: linear-gradient(to left, #051636, #3b79ac);
  min-height: 100vh;
  color: rgb(212, 222, 230, 0.9);
  position: relative;
}

/* 20436d, 0b274b 3b79ac*/
/* #051636, #3b79ac */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#AboutContainer {
  background-image: url("images/HeaderJuanTwo.jpeg");
  /* background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply; */
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  box-shadow: 0 5px 10px rgb(42, 41, 41);
}

#About {
  min-height: 50vh;
  width: 80vw;
  font-size: xx-large;
  border-radius: 0.5em;
  margin: auto;
  background-color: rgba(0, 0, 0, .5);
  padding: 10px 5vw 10px 5vw;
}

#Projects {
  min-height: 100vh;
  background: linear-gradient(to left, #051636, #3b79ac);
}

#Blogs {
  min-height: 100vh;
}

#Contact {
  min-height: 100vh;
}

.navbar {
  opacity: 0.5;
  box-shadow: 0 5px 10px rgb(42, 41, 41);
  position: sticky !important;
  top: 0;
  /* align-items: center !important; */
  display: flex !important;
  /* flex-direction: row !important; */
  /* justify-items: flex-end !important; */
  justify-content: flex-end !important;
  /* width: auto !important; */
  /* margin: auto !important; */
  background: rgba(39, 38, 38, 1) !important;
}

:root {
  --pcol: rgb(3, 12, 19) !important;
  --scol: rgb(36, 155, 190) !important;
  --tspeed: 0s !important;
  --fgrad: rgba(39, 38, 38, 1) !important;
  --sgrad: rgb(39, 38, 38) !important;
  --rm-font-size: 0.975rem !important;
  --sm-font-size: 0.8rem !important;
}

#Title {
  font-size: x-large;
  position: fixed;
  top: 0;
  left: 10px;
  color: rgba(36, 155, 190, 0.7) !important;
  font-weight: 200;
  z-index: 9999;
}

.GG-Background {
  background-image: url("images/GG-Background-Desktop.jpeg");
  background-attachment: fixed;
  /* background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply; */
  width: 100%;
  /* min-height: 100vh; */
  background-size: cover;
  background-position: center top;
  box-shadow: 0 5px 10px rgb(42, 41, 41);
}